/* fonts */
.textbox {
  font-size: 1.3rem;
}

.footer {
  font-size: 1.5rem;
}

/* main styles */

body {
  background-color: #f4f1f8;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}
/* mobile styles */

.header {
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textbox {
  border: 1px solid black;
}

.big {
  display: none;
}

.small {
  display: flex;
  margin: 0.2rem auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 55%;
  height: 40px;
  border-radius: 5px;
}

.gh-ico {
  width: 2rem;
}

.boards-container {
  height: 69vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-board,
.computer-board {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, auto);
  margin: 1rem 0;
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

.tile {
  cursor: pointer;
  border: 1px solid black;
}

.tile:hover {
  background-color: black;
}

.start {
  cursor: pointer;
  display: none;
  justify-self: center;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.footer {
  margin-top: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.p-square.dragging {
  opacity: 0.5;
  background-color: pink;
}

/* small tablet styles */
@media (min-width: 650px) {
  body {
    font-size: 20px;
  }
  .boards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .big {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 55%;
    height: 40px;
    border-radius: 5px;
    padding-left: 12px;
  }

  .small {
    display: none;
  }

  .start {
    width: 10rem;
  }
}

/* large tablet styles */
@media (min-width: 950px) {
  body {
    font-size: 22px;
  }
}

/* desktop styles */
/* large tablet styles */
@media (min-width: 1250px) {
  body {
    font-size: 24px;
  }
}
